/* Common */
html 
    { 
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    background-color: #151515;
    color: white; 
	text-align:center;
    text-decoration: none;
    }

/* The navigation menu */
.sidenav 
    {
    /* 100% Full-height */
    height: 100%; 
            
    /* 0 width - change this with JavaScript */
    width: 0; 

    /* Stay in place */
    position: fixed; 

    /* Stay on top */
    z-index: 1; 

    /* Stay at the top */
    top: 0; 
    left: 0;

        /* Black*/
    background-color: #111111;

    /* Disable horizontal scroll */
    overflow-x: hidden;

    /* Place content 60px from the top */ 
    padding-top: 60px;

    /* 0.5 second transition effect to slide in the sidenav */ 
    transition: 0.5s; 
    }

/* The navigation menu links */
.sidenav a 
    {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
.sidenav a:hover 
    {
    color:#61E1B6;
    }
.selectedButton
	{
	background-color: #080808;
	color: #dddddd;
	}


/* Position and style the close button (top right corner) */
.sidenav .closebtn 
    {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

/* Style of default button (link) */
.defaultButton 
	{
	text-align:center;
	background-color:transparent;
	border-color:transparent;
	color: white;
	font-size:30px; 
	cursor:pointer;
	
    text-decoration:none;
    margin: 10px;
	}
.defaultButton:hover
    {
    color: #61E1B6;
    }

/* Style of drop down items */
.defaultDrop 
	{
	text-align:center;
	background-color: #151515;
	border-color:transparent;
	color: white;
	font-size:30px; 
	cursor:pointer;
	
    text-decoration:none;
    margin: 10px;
	}
.defaultDrop:hover 
    {
    
    color:aquamarine;
    }

/* Style of reset/power off button */
.powerOffButton 
	{
	text-align:center;
	background-color:transparent;
	border-color:transparent;
	color: #ffdddd;
	font-size:60px; 
	cursor:pointer;
    text-decoration: none;
	}
.powerOffButton:hover
	{
	color: indianred;
	}


/* Styles of cross-platform sliders */
input[type=range] {
  -webkit-appearance: none;
  width: 200px;
  margin: 0.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #808080;
  border-radius: 1.3px;
  border: 0.2px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 4px rgba(0, 255, 0, 0.16), 0px 0px 2px rgba(26, 255, 26, 0.16);
  border: 0px solid #ffffff;
  height: 10px;
  width: 20px;
  border-radius: 5px;
  background: #7fffd4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #8d8d8d;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #737373;
  border: 0.2px solid rgba(0, 0, 0, 0);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #808080;
  border: 0.2px solid rgba(0, 0, 0, 0);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 2px 2px 4px rgba(0, 255, 0, 0.16), 0px 0px 2px rgba(26, 255, 26, 0.16);
  border: 0px solid #ffffff;
  height: 10px;
  width: 20px;
  border-radius: 5px;
  background: #7fffd4;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #808080;
}
input[type=range]:focus::-ms-fill-upper {
  background: #8d8d8d;
}
