
html 
    { 
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    background-color: #151515;
    color: white; 
	text-align:center;
    }

.sidenav 
    {
    /* 100% Full-height */
    height: 100%; 
            
    /* 0 width - change this with JavaScript */
    width: 0; 

    /* Stay in place */
    position: fixed; 

    /* Stay on top */
    z-index: 1; 

    /* Stay at the top */
    top: 0; 
    left: 0;

        /* Black*/
    background-color: #111111;

    /* Disable horizontal scroll */
    overflow-x: hidden;

    /* Place content 60px from the top */ 
    padding-top: 60px;

    /* 0.5 second transition effect to slide in the sidenav */ 
    transition: 0.5s; 
    }

.selectedButton
	{
	background-color: #080808;
	color: #dddddd;
	}

    /* The navigation menu links */
.sidenav a 
    {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }

.sidenav a:hover 
    {
    color:#61E1B6;
    }

/* Position and style the close button (top right corner) */
.sidenav .closebtn 
    {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

.defaultButton 
	{
	text-align:center;
	background-color:transparent;
	border-color:transparent;
	color: white;
	font-size:30px; 
	cursor:pointer;
	margin: 20px;
	}

.defaultButton:hover
    {
    color: #61E1B6;
    }

.menuBtn 
	{
	position:absolute;
	top: 20px;
	left: 20px;
	text-align:left; 
	font-size:30px; 
	cursor:pointer;
	}

